main{
    display : flex;
    justify-content: center;
    padding-top : 5%;
}

form {
    display :flex;
    flex-direction: column;
    align-items: center;
}
form input, textarea{
    margin : 10%;
    height : 40px;
    width : 150%;
    border-radius: 30px;
    padding : 2%;
    padding-left : 10%;
    resize:none;
}
form input[type="button"]{
    width:40%;
    padding : 0;
}
textarea {
    padding-top :10%;
    height : 30%;
}
#formBackground{
    background-color: rgb(31, 0, 51);
    padding : 80px;
    padding-left: 120px;
    padding-right: 120px;
    border-radius: 100px;
}
@media only screen and (max-width: 900px) {
    main{
        align-items: center;
        justify-content: center;
    }
    form{
        width : 50%;
        margin-right : 0;

    }
    #formBackground{
        background: none;
        padding : 0;
    }

}