@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
html {
    display: block;
    /*font-family: 'Tilt Warp', cursive;*/
    font-family: 'DM Sans', sans-serif;
    color :rgb(255, 255, 255);
}
body{
    background-color: rgb(36, 36, 36);
    background-image: url(./images/background2.png);
    
    display: flex;
    flex-direction: column;
    margin : 0;
}
body nav{
    height : 10%;
    background-color: rgb(104 144 255);
    display : flex;
    justify-content: space-between;
    padding-left : 1%;
    padding-right : 1%;
    font-weight: 700;
    
}
body nav ul{
    display : flex;
    margin-right : 10%;

}
body nav p{
    font-size: 30px;
    
}
body nav ul li{
    display: flex;
    align-items: center;
    margin : 10%;
    
}
body nav a {
    margin-left : 9%;
}
main{
    display : flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#img-container {
    font-size : 10px;
    width : 30%;
    margin-top : 5%;
    margin-left : 5%;
    display: flex;
    justify-content: center;

}
#img-container img {
    height : 120%;
    border-radius: 50%;

}
#description-container{
    color : rgb(255, 255, 255);
    width :40%;
    margin-top : 5%;
    padding-right : 15%;
}
a {
    color : rgb(255, 255, 255);
    text-decoration: none;
}
a:hover {
    color : rgb(0, 0, 0);
}
#competences-container{
    margin-top : 5%;
    margin-left : 17%;
    margin-right: 0%;
    width : 10%;
}
#fleche{
    margin : 50%;
    margin-bottom: 11%;
    margin-top : 7%;

}
.retex {
    margin : 0;
    width : 80%;
    margin-bottom: 5%;
}
.titre-retex{
    font-size: 27px;
}
.container-img-retex{

    display : flex;
    justify-content: space-evenly;
}
#retexs{
    display :flex;
    align-items: center;
    flex-direction: column;
}
.compétences{
    margin-left: 40%;
}
.compétences ul {
    list-style: none;
    font-size:larger;
}
.compétences li:before {
    content: "+";
    margin-right: 4px;
}
footer{
    background-color: red;
}
#menu_retexs{
    
    margin-top : 5%;
    margin-right : 17%;

}
#menu_retexs ul li a{
    color : rgb(94, 166, 195);
}
#menu_retexs ul li a:hover{
    color : rgb(0, 0, 0);
}
#menu_retexs ul li{
    list-style:none;    
}
#menu_retexs ul{
    padding-left : 20px;
}
#menu_retexs li:before{
    
    content: "> ";
}
#GoUpPage{
    color : black;
    background-color: aliceblue;
    padding : 15px;
    position: fixed;
    right: 20px;
    bottom : 15px;
    
}
#GoUpPage a{
    color : black;
    text-decoration: none;
}
.barre{
    width : 80%;
    height : 5px;
    background-color: rgb(165, 165, 165);
    
}
@media only screen and (max-width: 900px) {
    main {
        flex-direction: column;
    }
    #img-container img {
        width: 100px;
        height : 100px;
    }
    #retexs{
        flex-direction: column;
        
    }
    .container-img-retex{
        flex-direction: column;
    }
    #description-container{
        margin-left : 10%;
        width : 50%;
        padding-right : 0%;

    }
    .compétences{
        margin-left: 0%;
    }
    .compétences ul{
        font-size:smaller;
    }
   
    figure img {
        width: 80%;
    }
    body nav{
        flex-direction: column;
    }
    #GoUpPage{
        right :50px;
    }
    #menu_retexs ul {
        width : 80%;
    }
    #fleche {
        margin-right : 50%;
    }
  }